.App {
  text-align: center;
  background-image: linear-gradient(to right, var(--left-color), var(--right-color));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
